@import url("baskerville.css");

body {
  background: white;
  color: black;
  min-width: 780px;
  max-width: 1024px;
  margin: auto;
  padding-left: 4em;
  padding-right: 4em;
  font-size: 120%;
  line-height: 140%;
  font-family: 'Libre Baskerville', serif;
}

#body {
}

#bio {
  max-width: 300px;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main {
  max-width: 600px;
}

#top {
  display: block;
}

h1 {
  color: black;
  font-weight: normal;
  font-size: 500%;
  text-align: center;
  font-variant: small-caps;
}

h1.big {
    font-size: 400%;
}

h2 {
  /* font-variant: small-caps; */
    font-size: 200%;
    text-align: center;
}

blockquote {
  margin-left: 5em;
  margin-right: 5em;
  /* padding: 1em; */
  /* border: thin dashed #ddd6bb; */
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.left {
  float: left;
  padding-right: 10px;
}

img.right {
  float: right;
  padding-left: 10px;
}

img.thumb {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

a img.thumb {
  border: none;
}

div#footer {
  padding-top: 2em;
  font-size: small;
  text-align: right;
  color: #777777;
}

p.year {
  text-align: center;
  font-size: smaller;
}

li {
  list-style-type: none;
}

li.trans {
  font-size: smaller;
  list-style-type: none;
}

li.award {
  font-size: smaller;
  list-style-type: none;
}

li.other {
    font-size: smaller;
    list-style-type: none;
}

li.review {
  font-size: smaller;
  list-style-type: none;
  font-weight: bold;
}

a {
  color: #00F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:visited {
  color: #800080;
}
